$color-2: #e14594;
$color-7: #7045af;
$color-3: #2b3595;
$color-4: #182952;
$color-5: #ec6a6a;
$color-6: #f18f8f;
$color-1: #dfe2fe;

html, body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $color-1;
  color: $color-5;
  height: 100%;
}

.box {
  border: 1px red dotted;
  border: none;
}

#side-menu {
  background: $color-4;
  padding: 0px;
}

#side-menu h1 {
  color: $color-7;
  text-align: center;
  margin: 10px 0px;
  font-size: 25px;
}

.display-table {
  display: table;
  padding: 0px;
  height: 100%;
}

.display-table-row {
  display: table-row;
  height: 100%;
}

.display-table-cell {
  display: table-cell;
  float: none;
  height: 100%;
  width: 100%;
}

.valign-top {
  vertical-align: top;
}

/*Nav Header*/

#nav-header {
  background-color: $color-1;
  border-bottom: 1px solid $color-1;
}

#nav-header #header-search-field {
  padding-top: 17px;
  vertical-align: center;
  border: none;
  width: 300px;
  outline: none;
  background: $color-1;
}

h1 {
  color: $color-4;
}

#nav-header ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: $color-5;
}

#nav-header ul li {
  float: left;
  margin-left: 15px;
  padding: 17px 0px;
}

#nav-header ul .fa {
  color: $color-5;
}

.label-message {
  background-color: $color-2;
}

#nav-header ul a {
  text-decoration: none;
}

#nav header .logout {
  color: $color-5;
}

#nav header .logout:hover {
  color: $color-5;
}

#nav-header #welcome {
  margin-right: 20px;
}

#nav-header ul .badge {
  position: absolute;
  margin-top: -10px;
  margin-left: -5px;
  font-size: 10px;
}

#nav-header .fixed-width {
  width: 35px;
}

#admin-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: $color-1;
  padding: 10px;
  font-size: 12px;
  color: $color-5;
}

.navbar-default {
  background-color: $color-1;
}

.navbar-default .navbar-toogle {
  border-bottom-color: $color-2;
  background-color: $color-2;
}

.navbar-default .icon-bar {
  border: 1px $color-1 solid;
}

.navbar-default .navbar-toogle:hover {
  background-color: $color-2;
}

.navbar-default .navbar-toogle:focus {
  background-color: $color-2;
}

#side-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#side-menu a {
  padding: 12px 20px;
  text-decoration: none;
  color: $color-6;
  font-weight: bold;
  font-size: 13px;
  display: block;
}

#side-menu .fa {
  margin-right: 6px;
}

#side-menu a:hover {
  background-color: $color-3;
  color: $color-1;
  display: block;
}

#side-menu .active a {
  color: $color-1;
  background-color: $color-3;
}

#side-menu .settings-btn {
  background-color: $color-2;
}

#side-menu .settings-btn a {
  color: $color-1;
}

#side-menu .settings-btn a:hover {
  background-color: $color-2;
}

#side-menu .collapseable li {
  padding-left: 20px;
  padding-top: 5px;
}

#side-menu .collapseable a {
  color: $color-6;
  font-size: 12px;
  padding: 0px 10px;
  display: block;
}

#side-menu .collapseable a:hover {
  color: $color-1;
}

#side-menu .collapseable {
  border-left: 4px solid $color-2;
  background-color: $color-3;
}

#side-menu .link > ul > li {
  padding-bottom: 10px;
}

.navbar-default {
  background-color: $color-1;
}

.navbar-default .navbar-toggle {
  border-color: $color-2;
  background-color: $color-2;
}

.navbar-default .icon-bar {
  border: 1px $color-1 solid;
}

.navbar-default .navbar-toggle:hover {
  background-color: $color-2;
}

.navbar-default .navbar-toggle:focus {
  background-color: $color-2;
}
