<header id="nav-header" class="clearfix" class="row">

  <div class="col-md-5">
    <input type="text" class="hidden-sm-down hidden-xs-down" placeholder="Search for something..." id="header-search-field">
  </div>

  <div class="col-md-7">
    <ul class="pull-right">

      <li id="welcome" class="hidden-sm-down hidden-xs-down">Welcome to your administration area</li>

      <li class="fixed-width">
        <a href="">
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span class="badge badge-pill badge-warning pull-right">20</span>
        </a>
      </li>

      <li class="fixed-width">
        <a href="">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span class="badge badge-pill badge-danger pull-right">20</span>
        </a>
      </li>

      <li>
        <a href="javascript()" class="logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          log out
        </a>
      </li>

    </ul>
  </div>
  <button (click)="abrir();">abrir</button>

</header>
