<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
  <div class="x_panel">
    <div class="x_title">
      <h3 style="float: left;">REPORTE POR DATOS</h3>
      <ul class="nav navbar-right panel_toolbox">
        <li>
          <button data-toggle="modal" data-target="#miModal2" style="border: none;">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <a class="collapse-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
             aria-controls="collapseExample">
            <i class="fa fa-chevron-up"></i>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-wrench"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Settings 1</a></li>
            <li><a href="#">Settings 2</a></li>
          </ul>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>


    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action ">
          <thead>
          <tr class="headings">
            <th>Id</th>
            <th>Temperatura</th>
            <th>pH</th>
            <th>Conductividad</th>
            <th>TDS</th>
            <th>Turbiedad</th>
            <th>Hora</th>
            <th>Fecha</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sensor of sensores">
            <td>{{sensor._id}}</td>
            <td>{{sensor.temperatura}}</td>
            <td>{{sensor.ph}}</td>
            <td>{{sensor.conductividad}}</td>
            <td>{{sensor.conductividad*0.5}}</td>
            <td>{{sensor.turbidez}}</td>
            <td>{{sensor.hora}}</td>
            <td>{{sensor.fecha}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

