<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row tile_count">

    <div class="one col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Temperatura
      </span>
      <div class="count green">
        {{currentTemperatura | number:'3.1-2'}}
        <img src="../../../assets/tempe.png"/>
      </div>
      <span class="count_bottom">
      <i class="green">{{currentTemperatura | number:'2.1-2'}} °C </i> Ahora
      </span>
    </div>

    <div class="two col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> pH
      </span>
      <div class="count">
        {{currentPH | number:'3.1-2'}}
        <img src="../../../assets/ph.png"/>

      </div>
      <span class="count_bottom">
      <i class="green">{{currentPH | number:'2.1-2'}}</i> Ahora
      </span>
    </div>

    <div class="six col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Turbiedad
      </span>
      <div class="count green">
        {{currentTurbidez | number:'3.1-2'}}
        <img src="../../../assets/turbid.png"/>
      </div>
      <span class="count_bottom">
      <i class="green">{{currentTurbidez | number:'1.1'}} UNT </i> Ahora
      </span>
    </div>

    <div class="three col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Conductividad
      </span>
      <div class="count green">
        {{currentConductividad | number:'3.1-2'}}
        <img src="../../../assets/conducti.png" style="margin: 0 25% "/>
      </div>
      <span class="count_bottom">
      <i class="green">{{currentConductividad | number:'3.1-2'}} µS/cm </i> Ahora
      </span>
    </div>

    <div class="five col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 tile_stats_count_p">
      <span class="count_top_c" style="color: #000;">
      <i class="fa fa-clock-o"></i> Sólidos Disueltos Totales
      </span>
      <div class="count green">
        {{registro_flujo_pesado}}
        <img src="../../../assets/sdt.png" style="margin: 0 25%"/>
      </div>
      <span class="count_bottom">
      <i class="green">{{(currentConductividad*0.5) | number:'3.1-2' }}ppm </i> Ahora
      </span>
    </div>


    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-4 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Prom. de temperatura
      </span>
      <div class="count">{{avgTemperatura | number:'2.1-2'}} °C</div>
    </div>


    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-4 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i> Promedio de pH
      </span>
      <div class="count">{{avgPH | number:'2.1-2'}}</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-4 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Prom. de Turbiedad
      </span>
      <div class="count">{{avgTurbidez | number:'1.1'}} UNT</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-6 col-xl-6 tile_stats_count"  style="padding: 0 15%">
      <span class="count_top" >
      <i class="fa fa-balance-scale"></i>  Prom. de Conductividad
      </span>
      <div class="count">{{avgConductividad | number:'3.1-2'}}µS/cm</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-6 col-xl-6 tile_stats_count" style="padding: 0 15%">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Promedio de SDT
      </span>
      <div class="count">{{avgConductividad*0.5 | number:'3.1-2'}} ppm</div>
    </div>

  </div>


  <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="x_panel tile ">
            <div class="collapse show x_content" id="collapse1">
              <h4>Cantidad de datos registrados</h4>

              <br>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Temperatura</span></div>

                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" [ngStyle]="{width: avgTemperatura +'%'}">
                      <span class="sr-only">{{avgTemperatura}}% Complete</span>
                    </div>
                  </div>
                </div>

                <div class="w_right w_20"><span>{{avgTemperatura | number:'2.1-2'}}°C</span>
                </div>
                <div class="clearfix"></div>
              </div>


              <div class="widget_summary">
                <div class="w_left w_25"><span>pH</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" [ngStyle]="{width: avgPH +'%'}">
                      <span class="sr-only">{{avgPH}}% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{avgPH | number:'2.2' }} </span>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Conductividad</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" [ngStyle]="{width: avgConductividad +'%'}">
                      <span class="sr-only">{{avgConductividad}}% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20">
                  <span>{{avgConductividad | number:'3.1-2'}}µS/cm</span></div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>SDT</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" [ngStyle]="{width: (avgConductividad*0.5) +'%'}">
                      <span class="sr-only">{{avgConductividad*0.5}}% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20">
                  <span>{{avgConductividad | number:'3.1-2'}}mg/l</span>
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Turbiedad</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" [ngStyle]="{width: avgTurbidez +'%'}">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{avgTurbidez | number:'1.1-2'}}UNT</span>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
      </div>
    </div>
    <!-- Actividades recientes -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Información Importante</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
              <a data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10"><i
                class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a></li>
                <li><a href="#">Settings 2</a></li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="collapse show x_content" id="collapse10">
          <div class="dashboard-widget-content col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <ul class="list-unstyled timeline widget">
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Agua Potable</a>
                    </h2>
                    <div class="byline">
                      <span>diciembre-2010</span> por <a>NB 512</a>
                    </div>
                    <p class="excerpt">Aquella que por sus características organolépticas, físico-químicas,
                      microbiológicas y radiactivas, se considera apta para el consumo humano y que cumple con lo
                      establecido en la NB 512 y el presente Reglamento.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>

            <div class="dashboard-widget-content col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <ul class="list-unstyled timeline widget">
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Internet de las Cosas</a>
                    </h2>
                    <div class="byline">
                      <span>2011</span> por <a>CISCO-IBSG</a>
                    </div>
                    <p class="excerpt">Internet de las cosas es la red de cosas/dispositivos interconectados que están
                      embebidos con sensores, software, conectividad de red y electrónica necesaria que les permite
                      recopilar e intercambiar datos haciéndolos responder. </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div><br><br>
    </div>

  </div>
</div>


