<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
	<div class="x_panel">
		<div class="x_title">
			<h1 style="font-size: 14px;">Grupo {{grupo}} Flujo {{flujo}}</h1>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<i class="fa fa-wrench"></i>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Settings 1</a></li>
						<li><a href="#">Settings 2</a></li>
					</ul>
				</li>
				<li><a class="close-link"><i class="fa fa-close"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="table-responsive">
				<table class="table table-striped jambo_table bulk_action ">
					<thead>
						<tr class="headings">
							<td>RFID</td>
							<td>Prioridad</td>
							<td>Placa</td>
							<td>Tipo</td>
							<td>Carnet</td>
							<td>Otro</td>
							<td>Altura</td>
              				<td>Fecha</td>
              				<td>Hora</td>									
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let auto of autos">              
							<td>{{auto.rfid}}</td>
							<td>{{auto.prioridad}}</td>
							<td>{{auto.placa}}</td>
							<td>{{auto.tipo}}</td>
							<td>{{auto.carnet}}</td>
							<td>{{auto.otro}}</td>
							<td>{{auto.altura}} cm</td>
              				<td>{{auto.fecha}}</td>
              				<td>{{auto.hora}}</td>		
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>