<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row tile_count">

    <div class="one col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Temperatura
      </span>
      <div class="count green">
      {{registro_flujo_minibus}}
      <img src="../../../assets/tempe.png"/>
      </div>
      <span class="count_bottom">
      <i class="green" >{{(registro_flujo_minibus*100)/registro_flujo | number:'2.2' }}°C </i> Ahora
      </span>
    </div>

    <div class="two col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> pH
      </span>
      <div class="count">
      {{registro_flujo_bus}}
      <img src="../../../assets/ph.png"/>

      </div>
      <span class="count_bottom">
      <i class="green">{{(registro_flujo_bus*100)/registro_flujo | number:'2.2' }} </i> Ahora
      </span>
    </div>

    <div class="three col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Conductividad
      </span>
      <div class="count green">
      {{registro_flujo_particular}}
      <img src="../../../assets/conducti.png"/>
      </div>
      <span class="count_bottom">
      <i class="green">{{(registro_flujo_particular*100)/registro_flujo | number:'2.2' }}µS/cm </i> Ahora
      </span>
    </div>

    <div class="four col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Sólidos Disueltos Totales
      </span>
      <div class="count">
      {{registro_flujo_pesado}}
      <img src="../../../assets/sdt.png" />
      </div>
      <span class="count_bottom">
      <i class="green">{{(registro_flujo_pesado*100)/registro_flujo | number:'2.2' }}ppm </i> Ahora
      </span>
    </div>

    <div class="five col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Salinidad
      </span>
      <div class="count green">
      {{registro_flujo_ambulancia}}
      <img src="../../../assets/conducti.png"/>
      </div>
      <span class="count_bottom">
      <i class="green">{{(registro_flujo_ambulancia*100)/registro_flujo | number:'2.2' }}PSU </i> Ahora
      </span>
    </div>

    <div class="six col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 tile_stats_count_p">
      <span class="count_top_c">
      <i class="fa fa-clock-o"></i> Turbiedad
      </span>
      <div class="count green">
      {{registro_flujo_policia}}
      <img src="../../../assets/turbid.png"/>
      </div>
      <span class="count_bottom">
      <i class="green" >{{(registro_flujo_policia*100)/registro_flujo | number:'2.2' }}UNT </i> Ahora
      </span>
    </div>



    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Prom. de temperatura
      </span>
      <div class="count">{{registro_flujo}} °C</div>
    </div>


    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i> Promedio de pH
      </span>
      <div class="count">{{registro_infracciones}}</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Prom. de Conductividad
      </span>
      <div class="count">{{promedio_sensores.humo}}µS/cm </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Promedio de SDT
      </span>
      <div class="count">{{promedio_sensores.sonido}} ppm</div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Prom. de Salinidad
      </span>
      <div class="count">{{registro_infracciones}}PSU </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 tile_stats_count">
      <span class="count_top">
      <i class="fa fa-balance-scale"></i>  Prom. de Turbiedad
      </span>
      <div class="count">{{registro_infracciones}} UNT</div>
    </div>

  </div>


  <div class="row">
    <!-- Actividades recientes -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
      <div class="x_panel">
        <div class="x_title">
          <h2>Información Importante</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li>
            <a data-toggle="collapse" href="#collapse10" aria-expanded="false" aria-controls="collapse10"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a></li>
                <li><a href="#">Settings 2</a></li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="collapse show x_content" id="collapse10">
          <div class="dashboard-widget-content">

            <ul class="list-unstyled timeline widget">
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Agua Potable</a>
                    </h2>
                    <div class="byline">
                      <span>diciembre-2010</span> por <a>NB 512</a>
                    </div>
                    <p class="excerpt">Aquella que por sus características organolépticas, físico-químicas, microbiológicas y radiactivas, se considera apta para el consumo humano y que cumple con lo establecido en la NB 512 y el presente Reglamento.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Internet de las Cosas</a>
                    </h2>
                    <div class="byline">
                      <span>2011</span> por <a>CISCO-IBSG</a>
                    </div>
                    <p class="excerpt">Internet de las cosas es la red de cosas/dispositivos interconectados que están embebidos con sensores, software, conectividad de red y electrónica necesaria que les permite recopilar e intercambiar datos haciéndolos responder.                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">

      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="x_panel tile fixed_height_320">

            <div class="x_title">
              <h2>Parametros de calidad de agua potable</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li>
                  <a data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-wrench"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a></li>
                    <li><a href="#">Settings 2</a></li>
                  </ul>
                </li>

                <li><a class="close-link"><i class="fa fa-close"></i></a></li>

              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="collapse show x_content" id="collapse1">
              <h4>Cantidad de datos registrados</h4>

              <br>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Temperatura</span></div>

                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: ((registro_flujo_minibus*100)/registro_flujo) +'%'}">
                      <span class="sr-only">66% Complete</span>
                    </div>
                  </div>
                </div>

                <div class="w_right w_20"><span>{{(registro_flujo_minibus*100)/registro_flujo | number:'2.2' }} %</span></div>
                <div class="clearfix"></div>
              </div>


              <div class="widget_summary">
                <div class="w_left w_25"><span>pH</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: ((registro_flujo_bus*100)/registro_flujo) +'%'}">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{(registro_flujo_bus*100)/registro_flujo | number:'2.2' }} %</span></div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Conductividad</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: ((registro_flujo_particular*100)/registro_flujo) +'%'}">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{(registro_flujo_particular*100)/registro_flujo | number:'2.2' }} %</span></div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>SDT</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: ((registro_flujo_pesado*100)/registro_flujo) +'%'}">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{(registro_flujo_pesado*100)/registro_flujo | number:'2.2' }} %</span></div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Salinidad</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: ((registro_flujo_ambulancia*100)/registro_flujo) +'%'}">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{(registro_flujo_ambulancia*100)/registro_flujo | number:'2.2' }} %</span></div>
                <div class="clearfix"></div>
              </div>

              <div class="widget_summary">
                <div class="w_left w_25"><span>Turbiedad</span></div>
                <div class="w_center w_55">
                  <div class="progress">
                    <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: ((registro_flujo_policia*100)/registro_flujo) +'%'}">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
                <div class="w_right w_20"><span>{{(registro_flujo_policia*100)/registro_flujo | number:'2.2' }} %</span></div>
                <div class="clearfix"></div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="row" style="margin-bottom: 50px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="x_panel tile fixed_height_320 overflow_hidden">
            <div class="x_title">
              <h2>Uso de Agua Potable</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><i class="fa fa-chevron-up"></i></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a></li>
                    <li><a href="#">Settings 2</a></li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="collapse show x_content" id="collapse2">
              <table class="" style="width:100%">
                <!--
                <tr>
                  <th style="width:37%;"><p>Top 5</p></th>
                  <th>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"><p class="">Auto</p></div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><p class="">Nro</p></div>
                  </th>
                </tr>-->
                <tr>
                  <td>
                    <app-dibujo style="padding: 100px"></app-dibujo>
                    <!--  <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>-->
                  </td>

                  <td>
                    <table class="tile_info">
                      <tr><td><p><i class="fa fa-square blue"></i>pH </p></td><td>30%</td></tr>
                      <tr><td><p><i class="fa fa-square green"></i>Conductividad </p></td><td>10%</td></tr>
                      <tr><td><p><i class="fa fa-square purple"></i>SDT </p></td><td>20%</td></tr>
                      <tr><td><p><i class="fa fa-square aero"></i>Salinidad </p></td><td>15%</td></tr>
                      <tr><td><p><i class="fa fa-square red"></i>Turbiedad </p></td><td>30%</td></tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>
