<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
  <div class="x_panel">

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <h1>CONTROL DE LA CALIDAD DEL AGUA PARA CONSUMO HUMANO</h1>
      El control de la calidad del agua para consumo
      humano se realiza siguiendo lo establecido
      en la NB 512 y el Reglamento
      Nacional para el Control de la Calidad del
      Agua para Consumo Humano. Con base a dichos
      documentos, en el presente acápite
      se enfatizan aspectos relevantes que orienten
      a las EPSA en la planificación y realización
      del control de la calidad del agua.

      <h2>PARÁMETROS DE CONTROL DE CALIDAD DEL AGUA.</h2>
      Los parámetros de control de la calidad del
      agua definidos en el Reglamento Nacional
      para el Control de la Calidad del Agua para
      Consumo Humano se agrupan de acuerdo
      a su factibilidad técnica y económica en: i)
      Parámetros de control mínimo, ii) Parámetros
      de control básico, iii) Parámetros de
      control complementario, y iv) Parámetros
      de control especial.   <br>
    </div>
  </div>

  <div class="x_panel">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <h3>Parámetros de control mínimo</h3>
      Los parámetros de control mínimo se realizan
      con mayor frecuencia en las fuentes
      de agua, plantas de tratamiento o tanques
      de almacenamiento, y en las redes de distribución
      de los sistemas de agua; permiten
      alertar en primera instancia sobre posible
      contaminación o cambios que podrían darse
      en la calidad de agua. Los parámetros de
      control mínimo se presentan en la Tabla 1.
      <br>
      <div class="x_title">
        <h1 style="font-size: 20px; float: left;">Tabla Nº 1. PARÁMETROS DE CONTROL MÍNIMO</h1>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button data-toggle="modal" data-target="#miModal" style="border: none; background-color: none;">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </li>
          <li>
            <a class="collapse-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a></li>
              <li><a href="#">Settings 2</a></li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr class="headings">
          <th>Parámetro</th>
          <th>Valor máximo aceptable</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>pH</th>
          <th>6,5 – 9,0</th>
        </tr>
        <tr>
          <th>Conductividad</th>
          <th>1.500 μS/cm*</th>
        </tr>
        <tr>
          <th>Turbiedad</th>
          <th>5 UNT</th>
        </tr>
        <tr>
          <th>Cloro residual</th>
          <th>0,2 – 1,0 mg/l

            </th>
        </tr>
        <tr>
          <th>Coliformes termoresistentes**</th>
          <th>< 1 UFC/100 ml</th>
        </tr>
        <tr>
          <th>Escherichia coli**</th>
          <th>< 1 UFC/100ml<br>
            < 2 NMP/100ml</th>
        </tr>
        </tbody>
      </table>
      <p>* El valor máximo aceptable de la conductividad se puede expresar también como 1.000 mg STD/L.
      ** Para el cumplimiento del control mínimo es suficiente realizar uno de estos dos ensayos, ya que ambos identifican la
      presencia de bacterias.
      Fuente: Ministerio de Medio Ambiente y Agua, 2010, Norma Boliviana 512, Reglamento de Control de Calidad del Agua para
      Consumo Humano.</p>
    </div>
  </div>

  <div class="x_panel">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <h3>Parámetros de control básico</h3>
      Son parámetros físico-químicos que
      generalmente se encuentran disueltos en
      el agua. Los parámetros de control básico
      se muestran en la Tabla 2.
      <br>
      <div class="x_title">
        <h1 style="font-size: 20px; float: left;">Tabla Nº 2. PARÁMETROS DE CONTROL BÁSICO</h1>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button data-toggle="modal" data-target="#miModal2" style="border: none; background-color: none;">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </li>
          <li>
            <a class="collapse-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a></li>
              <li><a href="#">Settings 2</a></li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr class="headings">
          <th>Parámetro</th>
          <th>Valor máximo aceptable</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>FÍSICOS<br>
             Color<br>
          </th>
          <th><br>15 UCV</th>
        </tr>
        <tr>
          <th>QUÍMICOS<br>
             Sólidos totales disueltos
          </th>
          <th><br>1.000 mg/l</th>
        </tr>
        <tr>
          <th>QUÍMICOS INORGÁNICOS<br>
             Alcalinidad total<br>
             Calcio<br>
             Cloruros<br>
             Dureza<br>
             Hierro total<br>
             Magnesio<br>
             Manganeso<br>
             Sodio<br>
             Sulfatos
          </th>
          <th><br>
            370,0 mg/l CaCO3<br>
            200,0 mg/l<br>
            250,0 mg/l<br>
            500,0 mg/l CaCO3<br>
            0,3 mg/l<br>
            150,0 mg/l<br>
            0,1 mg/l<br>
            200,0 mg/l<br>
            400,0 mg/l
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="x_panel">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <h3>Parámetros de control complementario</h3>
      <p>Son parámetros que podrían estar presentes
      en el agua, su presencia en muchos
      casos está definida por influencia de minas,
      descargas de residuos industriales o
      domésticos, botaderos de basura u otros
      en el área de influencia de la fuente de
      agua. Los parámetros de control complementario
      se presentan en la Tabla 3.</p>
      <br>
      <div class="x_title">
        <h1 style="font-size: 20px; float: left;">Tabla Nº 3. PARÁMETROS DE CONTROL COMPLEMENTARIO</h1>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button data-toggle="modal" data-target="#miModal3" style="border: none; background-color: none;">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </li>
          <li>
            <a class="collapse-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a></li>
              <li><a href="#">Settings 2</a></li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr class="headings">
          <th>Parámetro</th>
          <th>Valor máximo aceptable</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>a) QUÍMICOS INORGÁNICOS<br>
             Aluminio<br>
             Amoniaco<br>
             Arsénico<br>
             Boro<br>
             Cobre<br>
             Fluoruro<br>
             Nitritos<br>
             Nitratos<br>
             Plomo<br>
             Zinc
          </th>
          <th><br>
            0,1 mg/l<br>
            0,5 mg/l<br>
            0,01 mg/l<br>
            0,3 mg/l<br>
            1,0 mg/l<br>
            1,5 mg/l<br>
            0,1 mg/l<br>
            45,0 mg/l<br>
            0,01 mg/l<br>
            5,0 mg/l
           </th>
        </tr>
        <tr>
          <th> b) MICROBIOLÓGICOS BACTERIAS:<br>
             Coliformes totales<br>
             Escherichia Coli<br>
             Heterotróficas<br>
             Pseudomonas Aeruginosa<br>
             Clostridium Perfringens
          </th>
          <th><br>
            < 1 UFC/100 ml<br>
            < 1 UFC/100 ml<br>
            500 UFC/100 ml<br>
            < 1 UFC/100 ml<br>
            < 1 UFC/100 ml
            </th>
        </tr>
        <tr>
          <th>Parásitos:<br>
             Cryptosporidium.sp.<br>
             Giardia.sp.<br>
             Amebas
          </th>
          <th><br>
            Ausencia<br>
            Ausencia<br>
            Ausencia
          </th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="x_panel">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <h3>Parámetros de control especial</h3>
      <p>El análisis de los parámetros de control especial
        se realiza en situaciones de desastre
        o en casos especiales de acuerdo con el
        historial de la fuente y/o región, cuando
        se sospecha de algún tipo de contaminación
        por actividad minera, agrícola u otra,
        o cuando lo considere conveniente la EPSA
        y/o la Autoridad Reguladora del Sector. Los
        parámetros de control especial se presentan
        en la Tabla 4.
      </p>
      <br>
      <div class="x_title">
        <h1 style="font-size: 20px; float: left;">Tabla Nº 4. PARÁMETROS DE CONTROL ESPECIAL</h1>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <button data-toggle="modal" data-target="#miModal4" style="border: none; background-color: none;">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </li>
          <li>
            <a class="collapse-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-chevron-up"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a></li>
              <li><a href="#">Settings 2</a></li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr class="headings">
          <th>Parámetro</th>
          <th>Valor máximo aceptable</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>QUÍMICOS INORGÁNICOS:<br>
             Antimonio<br>
             Bario<br>
             Cadmio<br>
             Cianuro<br>
             Cromo Total<br>
             Mercurio<br>
             Níquel<br>
             Sabor y Olor<br>
             Selenio
          </th>
          <th><br>
            0,005 mg/l<br>
            0,7 mg/l<br>
            0,005 mg/l<br>
            0,07 mg/l<br>
            0,05 mg/l<br>
            0,001 mg/l<br>
            0,05 mg/l<br>
            Aceptable<br>
            0,01 mg/l
            </th>
        </tr>
        <tr>
          <th>SUBPRODUCTOS DE LA DESINFECCIÓN:<br>
             Trihalometanos totales (THM)
          </th>
          <th><br>
            100 μg/l<br>
            </th>
        </tr>
        <tr>
          <th>QUÍMICOS ORGÁNICOS:<br>
            Plaguicidas<br>
             Plaguicidas totales<br>
             Plaguicidas individuales*
          </th>
          <th><br><br>
            0,5 μg/l<br>
            0,1 μg/l
          </th>
        </tr>
        <tr>
          <th>HIDROCARBUROS:<br>
             Hidrocarburos totales (TPH)<br>
             Benceno<br>
             Tolueno<br>
             Etilbenceno<br>
             Xileno<br>
             Benzo(a) pireno
          </th>
          <th><br>
            10,0 μg/l<br>
            2,0 μg/l (*)<br>
            700,0 μg/l<br>
            300,0 μg/l<br>
            500,0 μg/l<br>
            0,2 μg/l
          </th>
        </tr>
        <tr>
          <th>RADIOACTIVOS.<br>
             Radiactividad alfa global<br>
             Radiactividad beta global
          </th>
          <th><br>
            0,10 Bq/l**<br>
            1,0 Bq/l**
          </th>
        </tr>
        <tr>
          <th>QUÍMICOS ORGÁNICOS<br>
             Acrilamida<br>
             Epiclorohidrina<br>
             Cloroformo<br>
             Cloruro de vinilo<br>
             Fenol
          </th>
          <th><br>
            0,5 μg/l<br>
            0,4 μg/l<br>
            100,0 μg/l<br>
            2,0 μg/l<br>
            2,0 μg/l
          </th>
        </tr>
        </tbody>
      </table>
      <p>* Existen plaguicidas cuyos valores individuales pueden superar el valor máximo aceptable individual o la suma de sus valores
        individuales superar el valor máximo total
        ** Bq = Bequerelio.
      </p>
    </div>
  </div>
  <p style="margin: 50px; width: 50%; float: right;">
    Fuente: Ministerio de Medio Ambiente y Agua, 2010, Norma Boliviana 512, Reglamento de Control de Calidad del Agua para
    Consumo Humano.
  </p>
</div>



<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modificar</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="amarillo">Amarillo</label>
          <input type="number"  [(ngModel)]="semaforo.amarillo" id="amarillo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="verde">Verde</label>
          <input type="number"  [(ngModel)]="semaforo.verde" id="verde" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="grupo">Grupo</label>
          <input type="number"  [(ngModel)]="semaforo.grupo" id="grupo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="flujo">Flujo</label>
          <input type="number"  [(ngModel)]="semaforo.flujo" id="flujo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="latitud">Latitud</label>
          <input type="number"  [(ngModel)]="semaforo.latitud" id="latitud" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="longitud">Longitud</label>
          <input type="number"  [(ngModel)]="semaforo.longitud" id="longitud" class="form-control input-sm">
        </div>

        <input type="button" value="Aceptar" class="btn btn-danger btn-sm" (click)="updateEstado()" data-dismiss="modal">
        <input type="button" value="Cancelar" class="btn btn-danger btn-sm" data-dismiss="modal">

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="miModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Crear Nuevo</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="rojo">Rojo2</label>
          <input type="number"  [(ngModel)]="semaforo.rojo" id="rojo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="amarillo">Amarillo2</label>
          <input type="number"  [(ngModel)]="semaforo.amarillo" id="amarillo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="verde">Verde2</label>
          <input type="number"  [(ngModel)]="semaforo.verde" id="verde" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="grupo">Grupo2</label>
          <input type="number"  [(ngModel)]="semaforo.grupo" id="grupo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="flujo">Flujo2</label>
          <input type="number"  [(ngModel)]="semaforo.flujo" id="flujo" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="latitud">Latitud2</label>
          <input type="number"  [(ngModel)]="semaforo.latitud" id="latitud" class="form-control input-sm">
        </div>

        <div class="form-group">
          <label for="longitud">Longitud2</label>
          <input type="number"  [(ngModel)]="semaforo.longitud" id="longitud" class="form-control input-sm">
        </div>

        <input type="button" value="Aceptar" class="btn btn-danger btn-sm" (click)="addSemaforo($event)" data-dismiss="modal">
        <input type="button" value="Cancelar" class="btn btn-danger btn-sm" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

