<div id="content">
  <header>
    <h2 class="page_title">Create new article</h2>
    <h2 class="page_title">{{titulo}}</h2>
  </header>   

  <div class="content-inner">
    <div class="form-wrapper">
      <form>
        <div class="form-group">
          <label for="" class="sr-only">Title</label>
          <input type="text" name="" value="" class="form-control" id="title" placeholder="Title">
        </div>

        <div class="form-group">
          <label for="" class="sr-only">Tags</label>
          <select data-placeholder="Select tags" multiple name="tags">
            <option value=""></option>
            <option value="">html</option>
            <option value="">css</option>
            <option value="">coding</option>
            <option value="">programming</option>
          </select>
        </div>

        <div class="form-group">
          <label for="" class="sr-only">Article</label>
          <textarea rows="" cols="" class="form-control" placeholder="Article" name="article"></textarea>
        </div>

        <div class="checkbox">
          <label for="">
            <input type="checkbox"> publish article when I click on save
          </label>
        </div>

        <div class="clearfix">
          <button type="submit" class="btn btn-primary pull-right">Save / Publish</button>
        </div>

      </form>
    </div>
  </div>
</div>
