<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
	<div class="x_panel">
		<div class="x_title">
			<h1 style="font-size: 14px;">Table of Contamination</h1>
			<ul class="nav navbar-right panel_toolbox">
				<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						<i class="fa fa-wrench"></i>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Settings 1</a></li>
						<li><a href="#">Settings 2</a></li>
					</ul>
				</li>
				<li><a class="close-link"><i class="fa fa-close"></i></a></li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="table-responsive">
				<table class="table table-striped jambo_table bulk_action ">
					<thead>
						<tr class="headings">
							<th class="column-title">Id</th>
							<th class="column-title">Grupo</th>
							<th class="column-title">Flujo</th>
							<th class="column-title">Humo</th>
							<th class="column-title">Sonido</th>
							<th class="column-title">Etanol</th>
							<th class="column-title">Temperatura</th>
							<th class="column-title">Humedad</th>
							<th class="column-title">Hora</th>
							<th class="column-title">Fecha</th>							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let estado of estados">
							<td>{{estado._id}}</td>
							<td>{{estado.grupo}}</td>
							<td>{{estado.flujo}}</td>
							<td>{{estado.humo}}</td>
							<td>{{estado.sonido}}</td>
							<td>{{estado.etanol}}</td>
							<td>{{estado.temperatura}}</td>
							<td>{{estado.humedad}}</td>
							<td>{{estado.hora}}</td>
							<td>{{estado.fecha}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>