<div class="right_col" role="main">
  <div class="">

    <div class="page-title">
      <div class="title_left">
        <h3>ESTADISTICAS MENSUALES</h3>
      </div>
    </div>

    <div class="row" style="margin-bottom: 50px">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
          <div class="x_title">
            <h2>Grafico Estádistico de Agua Potable</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a></li>
                  <li><a href="#">Settings 2</a></li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="collapse show x_content" id="collapse2">
            <table class="" style="width:100%">
              <tr>
                <td>
                  <div style="flex: 0 0 95%;max-width:95%;">
                    <div style="display: block;" *ngIf="lineChartData.length > 0">
                      <canvas baseChart width="418" height="209"
                              [datasets]="lineChartData"
                              [labels]="lineChartLabels"
                              [options]="lineChartOptions"
                              [legend]="lineChartLegend"
                              [chartType]="lineChartType"></canvas>
                    </div>
                  </div>
                </td>

                <td>
                  <table class="tile_info">
                    <tr>
                      <td><p><i class="fa fa-square aero"></i>Temperatura </p></td>
                      <td>15%</td>
                    </tr>
                    <tr>
                      <td><p><i class="fa fa-square blue"></i>pH </p></td>
                      <td>30%</td>
                    </tr>
                    <tr>
                      <td><p><i class="fa fa-square green"></i>Conductividad </p></td>
                      <td>10%</td>
                    </tr>
                    <tr>
                      <td><p><i class="fa fa-square purple"></i>SDT </p></td>
                      <td>20%</td>
                    </tr>
                    <tr>
                      <td><p><i class="fa fa-square red"></i>Turbiedad </p></td>
                      <td>30%</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
